{% block time_period_widget %}

    <div id="{{ id }}">

        <script type="text/javascript">
            function clearTimePeriodEnd(id)
            {
                var endWidget = document.getElementById(id + '_end');
                var allSelects = endWidget.getElementsByTagName('select');
                for (i = 0; i < allSelects.length; i++) {
                    allSelects[i].value = '';
                }
            }

        </script>

        {{ form_errors(form.start) }}
        {{ form_errors(form.end) }}

        {{ form_widget(form.id) }}
        {{ form_widget(form.start) }}
        <span>to</span>
        {{ form_widget(form.end) }}
        <span><a href="javascript:clearTimePeriodEnd('{{ id }}')">Not finished</a></span>

        {# ------------------------------------------------------------------------ #}
        {# Taken from easyadmin-bundle:Resources/views/form/bootstrap_3_layout.html #}
        {# I did not find a way to use template inheritance on this case            #}
        {% set remove_item_javascript %}
            $(function() {
            if (event.preventDefault) event.preventDefault(); else event.returnValue = false;

            var containerDiv = $('#{{ id }}').parents('.form-group:first');
            var parentDiv = containerDiv.parents('[data-prototype]:first');
            containerDiv.remove();
            parentDiv.trigger('easyadmin.collection.item-deleted');

            if (0 == parentDiv.children().length && 'undefined' !== parentDiv.attr('data-empty-collection')) {
            $(parentDiv.attr('data-empty-collection')).insertBefore(parentDiv);
            }
            });
        {% endset %}

        <span>
            <a href="#" onclick="{{ remove_item_javascript|raw }}" class="text-danger">
                <i class="fa fa-remove"></i>
                {{ 'action.remove_item'|trans({}, 'EasyAdminBundle') }}
            </a>
        </span>
        {# ------------------------------------------------------------------------ #}

    </div>

{% endblock %}
