{% if reporting['checkins']|length > 0 %}
<h3>Checkin overview</h3>

<div class="dashboard_op_section">
    <div style="padding:10px; text-align:center; color:#00F; width:100%">There are <span id="nbcheckins">{{ reporting['checkins']|length }}</span> cleanings for {{ currentMonth }}</div>
    
    <table id="checkins" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th style="display:none" data-property-name="city">City</th>
            <th>Property</th>
            <th>Checker</th>
            <th>Date</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {% for id, data in reporting['checkins'] %}
                <tr>
                    <td style="display:none" width="20%">{{ data.property.market.name }}</td>
                    <td width="20%"><a href="{{ url('admin', { 'entity': 'Reservation', 'action': 'list', byProperty: data.property.id, 'redirect': 'dashboard', 'redirectParam[date]': currentMonth, 'redirectParam[marketId]': selectedMarket }) }}">{{ data.property.label }}</a></td>
                    <td>{{ data.checkin.checker }}</td>
                    <td>{{ data.checkin.date|formatDate }}</td>
                    <td>{{ data.checkin.comments }}</td>
                    <td style='font-size:11px'>
                        <a href="{{ url('admin', { 'entity': 'Checkin', 'action': 'edit', 'id': data.checkin.id, 'redirect': 'dashboard', 'redirectParam[date]': currentMonth, 'redirectParam[marketId]': selectedMarket }) }}">Edit checkin</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}