{% extends 'base.html.twig' %}

{% block content %}
    <h2>Welcome {{ (app.user.username|split('@'))[0]|capitalize  }} </h2>

    {% include 'partials/dashboard-header-date.html.twig' 
        with {'previousDate': previousDate, 'nextDate': nextDate, 'selectedMarket': selectedMarket} 
    %}
    
    {% if cleanings|length == 0 and checkins|length == 0 %}
        <p style="color:blue">You have no missions for {{ currentMonth|formatDate }}</p>
    {% endif %}
    
    {% if cleanings|length > 0 %}
        <h3>Cleanings list</h3>

        <div>
            <div style="padding:10px; text-align:center; color:#00F; width:100%">There are {{ cleanings|length }} cleanings for {{ currentMonth|formatDate }}</div>
            
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                    {% for id, data in cleanings %}
                        <tr>
                            <td width="20%">{{ data.property.label }}</td>
                            <td>{{ data.date|formatDate }}</td>
                            <td>{{ data.comments }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    
    {% if checkins|length > 0 %}
        <h3>Checkin list</h3>

        <div>
            <div style="padding:10px; text-align:center; color:#00F; width:100%">There are {{ checkins|length }} checkins for {{ currentMonth|formatDate }}</div>
            
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Date</th>
                    <th>Access form</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                    {% for id, data in checkins %}
                        <tr>
                            <td width="20%">{{ data.reservation.property.label }}</td>
                            <td>{{ data.date|formatDate }} at {{ data.time != null ? data.time|formatTime : '' }}</td>
                            <td>
                                {% if data.reservation.property.accessFormUrl != null %}
                                    <a href="{{ data.reservation.property.accessFormUrl }}" target="_blank">Download</a>
                                {% else %}
                                    Not available
                                {% endif %}
                            </td>
                            <td>{{ data.comments }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="/bundles/easyadmin/javascript/easyadmin-all.min.js"></script>
    
    <script type="text/javascript">
        $('#date_selector').change(function() {
            var route = '{{ url('dashboard', { 'date': 'selected_date' }) }}'
            route = route.replace("selected_date", $("#date_selector").val());
            window.location.href = route;
        });
    </script>
{% endblock %}