{% extends '@EasyAdmin/default/list.html.twig' %}

{% set _request_parameters = _request_parameters|default({})|merge({ withNullAmount: app.request.get('withNullAmount')|default('') }) %}
{% set _request_parameters = _request_parameters|merge({ market: app.request.get('market')|default('') }) %}
{% set _request_parameters = _request_parameters|merge({ checkinBegin: app.request.get('checkinBegin')|default('') }) %}
{% set _request_parameters = _request_parameters|merge({ checkinEnd: app.request.get('checkinEnd')|default('') }) %}
{% set _request_parameters = _request_parameters|merge({ withDiscountAmount: app.request.get('withDiscountAmount')|default('') }) %}
{% set _request_parameters = _request_parameters|merge({ canceledResa: app.request.get('canceledResa')|default('') }) %}

{% block new_action %}
    
{% endblock %}

{% block search_action %}
    <div class="form-action {{ _action.css_class|default('') }}">
        <form method="get" action="{{ path('easyadmin') }}">
            {% block search_form %}
                
                {# <pre>{{ dump(_entity_config) }}</pre> #}
                
                <input type="hidden" name="action" value="search">
                <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
                <input type="hidden" name="sortField" value="{{ _request_parameters.sortField }}">
                <input type="hidden" name="sortDirection" value="{{ _request_parameters.sortDirection }}">
                <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
                <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
                
                <div class="filterArea roundCorner">
                    <div class="elem">
                        <a href="javascript:setPreviousInterval();">Previous month</a> - <a href="javascript:setCurrentInterval();">Current month</a> - <a href="javascript:setNextInterval();">Next month</a>
                    </div>
                    <div class="elem">
                        <label>Checkin begin date</label>
                        <input type="date" name="checkinBegin" value="{{ app.request.get('checkinBegin') }}" />
                        <label>Checkin end date</label>
                        <input type="date" name="checkinEnd" value="{{ app.request.get('checkinEnd') }}" />
                    </div>
                    {% if markets|length > 1 %}
                    <div class="elem">
                        <label>City</label>
                        <select name="market">
                            <option value=""></option>
                            {% for market in markets %}
                                <option value="{{ market.id }}" {{ app.request.get('market') == market.id ? "selected" : "" }} >{{ market }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    <div class="elem">
                        <label>Display only reservations with an empty amount</label>
                        <input type="checkbox" name="withNullAmount" {{ app.request.get('withNullAmount') == "on" ? "checked" : "" }} />
                    </div>
                    <div class="elem">
                        <label>Display only reservations with a discount</label>
                        <input type="checkbox" name="withDiscountAmount" {{ app.request.get('withDiscountAmount') == "on" ? "checked" : "" }} />
                    </div>
                    <div class="elem">
                        <label>Display only canceled reservations</label>
                        <input type="checkbox" name="canceledResa" {{ app.request.get('canceledResa') == "on" ? "checked" : "" }} />
                    </div>
                    <div class="elem">
                        <div style="float:left; width:85%">
                            <input class="form-control" type="search" name="query" value="{{ app.request.get('query')|default('') }}">
                        </div>
                        <div style="float:right; width:-10%">                        
                            <span class="input-group-btn">
                                <button class="btn" type="submit" formtarget="{{ _action.target }}">
                                    <i class="fa fa-search"></i>
                                    <span class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <!--
                <div class="input-group">
                    <table width="100%" style="background-color: #EEE; border:1px solid #DDD;">
                        
                        <tr style="background-color: transparent;">
                            <td width="100%" style="border:0px;">
                                <label>Checkin begin date</label>
                                <input type="date" name="checkinBegin" value="{{ app.request.get('checkinBegin') }}" />
                                <label>Checkin end date</label>
                                <input type="date" name="checkinEnd" value="{{ app.request.get('checkinEnd') }}" />
                            </td>
                        </tr>
                        
                        <tr style="background-color: transparent;">
                            <td style="border:0px;">
                                <label>City</label>
                                <select name="market">
                                    <option value=""></option>
                                    {% for market in markets %}
                                        <option value="{{ market.id }}" {{ app.request.get('market') == market.id ? "selected" : "" }} >{{ market }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td style="border:0px;">
                                
                            </td>
                        </tr>
                        
                        <tr style="background-color: transparent;">
                            <td width="100%" style="border:0px;">
                                <label>Display only reservations with an empty amount</label>
                                <input type="checkbox" name="withNullAmount" {{ app.request.get('withNullAmount') == "on" ? "checked" : "" }} />
                            </td>
                        </tr>
                        
                        <tr style="background-color: transparent;">
                            <td width="100%" style="border:0px;">
                                <label>Display only reservations with a discount</label>
                                <input type="checkbox" name="withDiscountAmount" {{ app.request.get('withDiscountAmount') == "on" ? "checked" : "" }} />
                            </td>
                        </tr>
                        
                        <tr style="background-color: transparent;">
                            <td width="100%" style="border:0px;">
                                <label>Display only canceled reservations</label>
                                <input type="checkbox" name="canceledResa" {{ app.request.get('canceledResa') == "on" ? "checked" : "" }} />
                            </td>
                        </tr>
                        
                        <tr style="background-color: transparent;">
                            <td>
                                <input class="form-control" type="search" name="query" value="{{ app.request.get('query')|default('') }}">
                            </td>
                            <td> 
                                <span class="input-group-btn">
                                    <button class="btn" type="submit" formtarget="{{ _action.target }}">
                                        <i class="fa fa-search"></i>
                                        <span class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>-->
            {% endblock %}
        </form>
    </div>
{% endblock %}

{% block content_header %}
    {{ parent() }}
    <script src="/js/moment.min.js"></script>
    
    <script>
    
        function setPreviousInterval() {
            var beginDate = moment().subtract(1, 'months').format("YYYY-MM-01");
            var endDate =  moment().subtract(1, 'months').endOf('month').format("YYYY-MM-DD");
            $("input[name=checkinBegin]").val(beginDate);
            $("input[name=checkinEnd]").val(endDate);
        }
        
        function setCurrentInterval() {
            var beginDate = moment().format("YYYY-MM-01");
            var endDate =  moment().endOf('month').format("YYYY-MM-DD");
            $("input[name=checkinBegin]").val(beginDate);
            $("input[name=checkinEnd]").val(endDate);
        }
        
        function setNextInterval() {
            var beginDate = moment().add(1, 'months').format("YYYY-MM-01");
            var endDate =  moment().add(1, 'months').endOf('month').format("YYYY-MM-DD");
            $("input[name=checkinBegin]").val(beginDate);
            $("input[name=checkinEnd]").val(endDate);
        }
        
        function filterProperties(showManaged, showUnmanaged, linkId) {
            // Declare variables
            var table, column, columnIdx, tr, td, i, managed, shouldDisplay, nb = 0;
            table = document.getElementsByClassName("table")[0];

            // Find the column that corresponds to the "Currently Managed" property
            column = table.querySelector("thead th[data-property-name='managed']");
            var columnIdx = 0;
            while((column = column.previousSibling) != null) {
                if(column.tagName) {
                    columnIdx++;
                }
            }

            // Loop through all table rows, and hide those who don't match the search query
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                if (td[columnIdx]) {
                    managed = td[columnIdx].innerText.toLowerCase().trim() == 'yes';
                    shouldDisplay = (managed && showManaged) || ((!managed) && showUnmanaged);
                    tr[i].style.display = shouldDisplay ? "" : "none";
                    
                    if (shouldDisplay) ++nb;
                }
            }
            
            // Update the number of results displayed according to the managed filter
            var resultSection = document.getElementById("resultSection").childNodes;
            for (var i = 0; i < resultSection.length; i++)
            {
                if (resultSection[i].tagName == 'H1')
                {
                    resultSection[i].style.display = "none";
                }
            }
            
            var currentSection = document.getElementById("nbResult" + linkId);
            currentSection.style.display = 'block';
            
            // Update links style
            var links = document.getElementById("links").childNodes;
            for (var i = 0; i < links.length; i++)
            {
                if (links[i].tagName == 'A')
                {
                    links[i].className = "";
                }
            }
            
            var link = document.getElementById("filter" + linkId);
            link.className = "linkSelected";
        }

        window.addEventListener('load', function() { filterProperties(true,false, 1); });
    </script>

    <span id="links">
        <a id="filter1" href="javascript:filterProperties(true, false, 1)">Managed</a> |
        <a id="filter2" href="javascript:filterProperties(false, true, 2)">Standing-by</a> |
        <a id="filter3" href="javascript:filterProperties(true, true, 3)">All</a>
    </span>
{% endblock %}

{% block table_body %}    
    {% for item in paginator.currentPageResults %}
        {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
        {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
            
        {% set styleLine = '' %}
        {% set isCancelled = false %}
        {% if item.status != 'confirmed' %}
            {% set styleLine = 'background-color:#DDD; font-weight:bold' %}
            {% set isCancelled = true %}
        {% elseif item.hostProfitAmount == "0" %}
            {% set styleLine = 'color:red;  font-weight:bold' %}
        {% elseif item.discountAmount is not null %}
            {% set styleLine = 'color:#ffbf00;  font-weight:bold' %}
        {% elseif item.hostProfitAmount is null %}
            {% set styleLine = 'color:OrangeRed; font-weight:bold' %}
        {% endif %}
        
        <tr style="{{ styleLine }}" data-id="{{ _item_id }}">
            {% for field, metadata in fields %}
                {% set isSortingField = metadata.property == app.request.get('sortField') %}
                {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}

                <td data-label="{{ _column_label }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">
                    {% if (isCancelled == true) %}
                        <strike>{{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}</strike>
                    {% else %}
                        {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
                    {% endif %}
                </td>
            {% endfor %}

            {% if _list_item_actions|length > 0 %}
                {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
                <td data-label="{{ _column_label }}" class="actions">
                {% block item_actions %}
                    
                    {% if isCancelled == true %}
                        {% set action_href = path("change_status", _request_parameters|merge({ action: "change_status", id: _item_id, status: 'confirmed' })) %}
                        <i class="fa fa-eye"></i>
                        <a class="text-danger action-change_status" href="{{ action_href }}">Restore</a>
                    {% else %}
                        {{ include('@EasyAdmin/default/includes/_actions.html.twig', {
                            actions: _list_item_actions,
                            request_parameters: _request_parameters,
                            translation_domain: _entity_config.translation_domain,
                            trans_parameters: _trans_parameters,
                            item_id: _item_id
                        }, with_context = false) }}
                    {% endif %}
                {% endblock item_actions %}
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </td>
        </tr>
    {% endfor %}    
{% endblock table_body %}

{% block content_title_wrapper %}
    <span id="resultSection">
        <h1 id="nbResult1" style="display:none;" class="title">{{ nbManaged|default(paginator.getNbResults()) }} results found</h1>
        <h1 id="nbResult2" style="display:none;" class="title">{{ paginator.getNbResults() - nbManaged|default(paginator.getNbResults()) }} results found</h1>
        <h1 id="nbResult3" style="display:none;" class="title">{{ paginator.getNbResults() }} results found</h1>
    </span>
{% endblock %}