{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-panel">
        <h2>Charts</h2>
        
        <form method="post">
            <label>Select markets you want to show on the chart</label>
            <select class="form-control" name="filterMarkets[]" multiple="multiple" size="6">
                {% for market in markets %}
                    <option value="{{ market.id }}" {{ app.request.get('market') == market.id ? "selected" : "" }} >{{ market }}</option>
                {% endfor %}
            </select>
            <br />
            <input type="submit" class="btn btn-wehost" value="Create graph" />
        </form>
        
        <hr />
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <a title='Click to enlarge the chart' class='inline' href="#inline_turnoverChart"><div id="turnoverChartThumbnail"></div></a>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        
        
        <!-- This contains the hidden content for inline calls -->
        <div id="hiddenDiv" style='display:none;'>
            <div id='inline_turnoverChart' style='background:#fff;'>
                <div id="turnoverChart"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        
        $(".inline").colorbox({
            inline:true,
            width:"98%",
            height:"98%",
            onComplete:function() {
                // We need the chart rendering to complete. See ready event from Google charts for more informations.
                // The hack is to start the rendering when the lightbox is opened
                {{ gc_draw(charts["chart"], 'turnoverChart') }} 
            }.bind(this)//Bound to be able to get the href.    
        });
     
        // Draw the chart thumbnail
        {{ gc_draw(charts["chartThumbnail"], 'turnoverChartThumbnail') }}
    </script>
{% endblock %}
