{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-panel">
        <h2>Financial reporting</h2>
    
        <p style="color:blue; text-align:center;">In order the numbers to match the invoicing module, all reservation host prices should be set.</p>
        <p>
            {% if previousMonth is defined %}
                <a class="btn btn-outline-dark btn-sm" href="{{ url('financial_reporting', { 'yearMonth': previousMonth }) }}">&lt; Previous month</a>
            {% endif %}

            <span style="font-weight:bold; padding:0 20px;">{{ currentMonth }}</span>

            {% if nextMonth is defined %}
                <a class="btn btn-outline-dark btn-sm" href="{{ url('financial_reporting', { 'yearMonth': nextMonth }) }}">Next month &gt;</a>
            {% endif %}
        </p>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Market</th>
                <th>Turnover</th>
                <th>Billable Hosts</th>
                <th>Total Cleaning Costs</th>
                <th>City Manager Commission</th>
            </tr>
            </thead>
            <tbody>
                {% for market, data in reporting %}
                    <tr>
                        <td>{{ market }}</td>
                        <td>{{ data.turnover|formatMoney }}</td>
                        <td>{{ data.billableHosts }}</td>
                        <td>{{ data.cleaningCosts|formatMoney }}</td>
                        <td>{{ data.managerCommission|formatMoney }}</td>
                    </tr>
                    {% if data.WeHostPlus_turnover is defined and data.WeHostPlus_turnover.withoutTaxes.amount > 0 %}
                        <tr style='font-style: italic;'>
                            <td style="padding-left:50px">-> WeHost Plus</td>
                            <td>{{ data.WeHostPlus_turnover|formatMoney }}</td>
                            <td>{{ data.WeHostPlus_billableHosts }}</td>
                            <td>{{ data.WeHostPlus_cleaningCosts|formatMoney }}</td>
                            <td>{{ data.WeHostPlus_managerCommission|formatMoney }}</td>
                        </tr>
                        
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
